.root {
    display:flex;
    justify-content:center;
    width: 100%;
    flex-wrap: wrap;
}

.fechas {
    display:flex;
    width: 50%;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}