* {
  margin: 0px;
  padding: 0px;

}

.html {
    position: relative;
  }

.body {
    margin: 0;
}

.footer {
  display:flex;
  min-width: 100%;
    background-color: white;
    color: black;
    justify-content:center;
    align-items:center;
  }


.flexxx{
  display:flex;
  justify-content: center;
  margin-left: 80px;
}
.as{

  font-size:23px;
  color: crimson;
}