.root {
    background-color:rgb(27, 25, 25);
    min-height:100vh;
}


.imagesGroup {
    display:grid;
    grid-template-columns: repeat(auto-fill,230px);
    gap:20px;
    justify-content:center;

}

.imagesGroup img  {

    width:300px;
    height: 300px;
    object-fit: cover;

}